<div class="container">
  <mat-card class="sign-in-widget">
    <mat-card-header>
      <h2>Reset Password</h2>
    </mat-card-header>
    <mat-card-subtitle>
      <p class="subtitle">Please enter your email address to request a password reset.</p>
    </mat-card-subtitle>
    <div class="form">
      <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      <button type="submit" (click)="authService.ForgotPassword(passwordResetEmail.value)">Submit</button>
    </div>
    <div>
      <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </mat-card>
</div>