<div class="container">
  <mat-card class="sign-in-widget">
    <mat-card-header>
      <h2>Sign Up</h2>
    </mat-card-header>
    <mat-card-subtitle>
      <p class="subtitle">Please enter a username and password to receive an email verification</p>
    </mat-card-subtitle>
    <div class="form">
      <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      <input type="password" class="formControl" placeholder="Password" #userPwd required>
      <button type="submit" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
    </div>
    <span>Or</span>
    <div class="formGroup">
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        <span class="continue-btn-span">Continue with Google</span>
      </button>
    </div>
    <div>
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </mat-card>
</div>